#menulable {
  color: white;
  margin-right: 20px;
  font-size: 1.5em;
}
@media only screen and (min-width: 1200px) {
  #menulable {
    font-size: 2.5em;
  }
}

i.ex {
  padding-left: 2px;
  padding-right: 2px;
}

nav {
  width: 100vw;
  height: 100vh;
  z-index: 150;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.8s ease;
}
nav .menu {
  padding: 0 50px;
  background: #500878;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
nav .menu::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 768px) {
  nav .menu {
    padding: 0 150px;
  }
}
nav .menu #purple-bar {
  background: #500878;
  height: 12vh;
}
@media only screen and (min-width: 768px) {
  nav .menu .accordion {
    padding-top: 10vh;
  }
}
nav .screen {
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  padding: 0;
}
nav a {
  color: white;
}
nav a:hover {
  color: #f2a900;
  text-decoration: none;
}
nav hr {
  border-top: 1px solid white;
}

.chapter-heading {
  padding: 5px 0px;
}
.chapter-heading a {
  display: flex;
  align-items: center;
}
.chapter-heading a span {
  font-size: 1.5em;
  margin-right: 20px;
}
.chapter-heading a, .chapter-heading span.expand {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 1.5em;
}
.chapter-heading a:hover, .chapter-heading span.expand:hover {
  color: white;
  font-weight: 700;
}
.chapter-heading span.expand {
  font-size: 1.5em;
}

.load {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0;
}

#stripes div {
  height: 100vh;
  width: calc(100vw/5);
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 2000;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  z-index: 2000;
  transition: opacity 0.2s ease-out;
}

.zero-height {
  animation: striping 0.5s forwards ease;
}

@keyframes striping {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
#progress {
  position: fixed;
  bottom: 3vh;
  z-index: 140;
}

.line-container {
  display: flex;
  width: 100%;
}
.line-container .progress-line {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  width: 90%;
  background: grey;
  height: 5px;
  z-index: -1;
  display: flex;
  justify-content: space-between;
}
.line-container .progress-line .progress {
  position: absolute;
  width: 75%;
  height: 100%;
  background: black;
  transition: width 1s ease-in-out;
}
.line-container .status {
  position: relative;
  top: -19px;
}
.line-container .status .dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: white;
  border: 5px solid grey;
  cursor: pointer;
}
.line-container .status .dot.current {
  background: white;
  color: white;
  border: 5px solid black;
}
.line-container .status .dot.completed {
  position: relative;
  background: black;
  border: 5px solid black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

h1 {
  font-weight: 700;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4em;
  }
}

h1.small {
  font-size: 1em;
}
@media only screen and (min-width: 992px) {
  h1.small {
    font-size: 2em;
  }
}

.navy {
  background: #070e63;
}

.red {
  background: #b11116;
}

.teal {
  background: #1f8da2;
}

.yellow {
  background: #f2a900;
}

.purple {
  background: #500878;
}

.no-vertical-scroll {
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-vertical-scroll::-webkit-scrollbar {
  display: none;
}

.invis-fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.offscreen {
  left: 100vw;
  transition: left 0.8s ease;
}

.white-outline {
  border: 2px solid white;
}

.spacer {
  height: 20vh;
}
@media only screen and (min-width: 992px) {
  .spacer {
    height: 10vh;
  }
}

.btn {
  border-radius: 50px;
}

.btn-light {
  background: #b3b3b3;
  color: white;
}

.btn-secondary {
  background: #500878;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited {
  background: #700ba8 !important;
  outline-color: #500878 !important;
}

.btn-warning {
  background: #f2a900;
  color: white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited {
  background: #ffbe26 !important;
  color: white;
  border-color: #f2a900 !important;
  outline-color: #f2a900 !important;
}

.btn-lg {
  padding: 0.7rem 1.2rem;
  font-size: 1.45rem;
  line-height: 1.7;
}

section {
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  padding: 10px !important;
  z-index: 200;
  background-color: white;
  transition: background-color 0.5s ease;
}
header img {
  width: 40vw;
}
@media only screen and (min-width: 768px) {
  header img {
    width: 25vw;
  }
}
@media only screen and (min-width: 1200px) {
  header img {
    width: 15vw;
  }
}
header #menus button {
  margin-left: 10px;
}

#landing {
  margin-top: 5vh;
}
@media only screen and (min-width: 1200px) {
  #landing {
    margin-top: 0;
  }
}

.min-screen {
  width: 32vw;
  height: 24.0601503759vw;
  border: 3px solid #666666;
  display: inline-block;
  background: #b3b3b3;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px 4px;
}
@media only screen and (min-width: 1200px) {
  .min-screen {
    width: 20vw;
    height: 15.037593985vw;
    border-radius: 20px;
    padding: 10px 20px;
    border: 5px solid #666666;
  }
}

.min-min-screen {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.min-min-screen a.number {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  text-decoration: none;
  justify-content: center;
}
.min-min-screen a.number:hover {
  opacity: 1;
}

#landingText {
  padding-right: 18vw;
}
@media only screen and (min-width: 1200px) {
  #landingText {
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

#beginBtn {
  margin-top: 0;
}
@media only screen and (min-width: 1200px) {
  #beginBtn {
    margin-top: 50px;
  }
}

.number {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}
.number span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #4d4d4d;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 100px;
  font-size: 6em;
}
@media only screen and (min-width: 1200px) {
  .number span {
    width: 150px;
    height: 150px;
    font-size: 8em;
  }
}

.chapter-text {
  background: #4d4d4d;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: -100vw;
  transition: left 0.5s ease;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  padding: 20px 0;
}
.chapter-text::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .chapter-text {
    width: 65vw;
    padding: 100px;
    font-size: 1.5em;
  }
}

.chapter-intro {
  transition: all 0.5s ease;
  left: 0;
}
@media only screen and (min-width: 1200px) {
  .chapter-intro {
    height: 100vh;
  }
}

.chapter-image {
  transition: all 0.5s ease;
  left: 0;
}

.placeholder {
  background: #b3b3b3;
  width: 80%;
  height: 70vh;
  margin: 20px 10%;
}

.move-left {
  transition: all 0.5s ease;
  left: 65vw;
}

/*# sourceMappingURL=style.css.map */
