#menulable {
  color: white;
  margin-right: 20px;
  font-size: 1.5em;
}
@media only screen and (min-width: 1200px) {
  #menulable {
    font-size: 2.5em;
  }
}

nav {
  width: 100vw;
  height: 100vh;
  z-index: 150;
  position: fixed;
  left: 0;
  transition: left 0.8s ease;
}
nav .menu {
  padding: 0 50px;
  background: #500878;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
nav .menu::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 768px) {
  nav .menu {
    padding: 0 150px;
  }
}
nav .menu #purple-bar {
  background: #500878;
  height: 12vh;
}
@media only screen and (min-width: 768px) {
  nav .menu .accordion {
    padding-top: 10vh;
  }
}
nav .screen {
  background: rgba(255, 255, 255, 0.5);
  height: 100vh;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  padding: 0;
}
nav a {
  color: white;
}
nav a:hover {
  color: #f2a900;
  text-decoration: none;
}
nav hr {
  border-top: 1px solid white;
}

.chapter-heading {
  padding: 5px 0px;
}
.chapter-heading a {
  display: flex;
  align-items: center;
}
.chapter-heading a span {
  font-size: 1.5em;
  margin-right: 20px;
}
.chapter-heading a, .chapter-heading span.expand {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 1.5em;
}
.chapter-heading a:hover, .chapter-heading span.expand:hover {
  color: white;
  font-weight: 700;
}
.chapter-heading span.expand {
  font-size: 1.5em;
}

.load {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  padding: 0;
}

#stripes div {
  height: 100vh;
  width: calc(100vw/5);
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}

#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  z-index: 2000;
  transition: opacity 0.2s ease-out;
}

.zero-height {
  animation: striping 0.5s forwards ease;
}

@keyframes striping {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
html {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1em;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 700;
}

.navy {
  background: #070e63;
}

.red {
  background: #b11116;
}

.teal {
  background: #1f8da2;
}

.yellow {
  background: #f2a900;
}

.purple {
  background: #500878;
}

.no-vertical-scroll {
  max-height: 100vh;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-vertical-scroll::-webkit-scrollbar {
  display: none;
}

.invis-fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.offscreen {
  left: 100vw;
  transition: left 0.8s ease;
}

.white-outline {
  border: 2px solid white;
}

.btn {
  border-radius: 50px;
}

.btn-light {
  background: #b3b3b3;
  color: white;
}

.btn-secondary {
  background: #500878;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:visited {
  background: #700ba8 !important;
  outline-color: #500878 !important;
}

.btn-warning {
  background: #f2a900;
  color: white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:visited {
  background: #ffbe26 !important;
  color: white;
  border-color: #f2a900 !important;
  outline-color: #f2a900 !important;
}

.btn-lg {
  padding: 0.7rem 1.2rem;
  font-size: 1.45rem;
  line-height: 1.7;
}

section {
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  padding: 10px !important;
  z-index: 200;
  background-color: white;
  transition: background-color 0.5s ease;
}
header img {
  width: 40vw;
}
@media only screen and (min-width: 768px) {
  header img {
    width: 25vw;
  }
}
@media only screen and (min-width: 1200px) {
  header img {
    width: 15vw;
  }
}
header #menus button {
  margin-left: 10px;
}

#progress {
  position: fixed;
  bottom: 0;
  background: yellow;
}

.min-screen {
  width: 32vw;
  height: 24.0601503759vw;
  border: 3px solid #666666;
  display: inline-block;
  background: #b3b3b3;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px 4px;
}
@media only screen and (min-width: 1200px) {
  .min-screen {
    width: 20vw;
    height: 15.037593985vw;
    border-radius: 20px;
    padding: 10px 20px;
    border: 5px solid #666666;
  }
}

.min-min-screen {
  width: 100%;
  height: 100%;
  background: white;
}

#landingText {
  padding-right: 18vw;
}
@media only screen and (min-width: 1200px) {
  #landingText {
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

#beginBtn {
  margin-top: 10px;
}
@media only screen and (min-width: 1200px) {
  #beginBtn {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
