@import 'variables';
@import 'mixins';
@import 'menus';
@import 'loading';
@import 'progress-bar';

html{
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    max-width: 100vw!important;
    overflow-x: hidden!important;
}

// font styles
h1{
    font-weight: 700;
    @include mQ ($lg) {
        font-size: 4em;
    }
}
h1.small{
    font-size: 1em;
    @include mQ ($lg){
        font-size: 2em;
    }
}

// basic styles
.navy{
    background: $navy;
}
.red{
    background: $red;
}
.teal{
    background: $teal;
}
.yellow{
    background: $yellow;
}
.purple{
    background: $purple;
}

// resuable general styles
.no-vertical-scroll{
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.invis-fade{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.offscreen {
    left: 100vw;
    transition: left 0.8s ease;
}
.white-outline{
    border: 2px solid white;
}
.spacer{
    height: 10vh;
}

// buttons
.btn{
    border-radius: 50px;
}
.btn-light{
    background: $light-grey;
    color: white;
}
.btn-dark{
    background: $dark-grey!important;
}
.btn-secondary{
    background: $purple;
    &:hover, &:focus, &:active, &:visited{
        background: $purple-hover!important;
        outline-color: $purple!important;
    }
}
.btn-warning{
    background: $yellow;
    color: white;
    &:hover, &:focus, &:active, &:visited{
        background: $yellow-hover!important;
        color: white;
        border-color: $yellow!important;
        outline-color: $yellow!important;
    }
}
.btn-primary{
    background: $teal;
    &:hover, &:focus, &:active{
        background: $teal-hover;
        border-color: $teal!important;
        outline-color: $teal!important;
    }
}
.btn-danger{
    background: $red;
    &:hover, &:focus, &:active{
        background: $red-hover;
        border-color: $red!important;
        outline-color: $red!important;
    }
}
.btn-lg{
    padding: .7rem 1.2rem;
    font-size: 1.45rem;
    line-height: 1.7;
}

section{
    min-height: 100vh;
}

// page fixtures
header{
    position: fixed;
    top: 0;
    padding: 10px!important;
    z-index: $layer2;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.5s ease;
    img{
        width: 40vw;
        @include mQ ($md) {
            width: 25vw;
        }
        @include mQ ($xl) {
            width: 15vw;
        }
    }
    #menus{
        button{
            margin-left: 10px;
        }
    }
}
.btn-next{
    display: none;
    @include mQ ($md) {
        display: inline-block;
    }
}



// landing & closing section stlying
$deviceWidth: 40vw;
$deviceHeight: $deviceWidth/1.33;
$deviceSpace: 50vw - $deviceWidth;

$deviceWidthMed: 33vw;
$deviceHeightMed: $deviceWidthMed/1.33;
$deviceSpaceMed: 50vw - $deviceWidthMed;

$deviceWidthMax: 20vw;
$deviceHeightMax: $deviceWidthMax/1.33;

#landing{
    margin-top: 8vh;
    @include mQ ($md) {
        margin-top: 4vh;
    }
    @include mQ ($xl) {
        margin-top: 0;
    }
}

.min-screen{
    width: $deviceWidth;
    height: $deviceHeight;
    border: 3px solid $med-grey;
    display: inline-block;
    background: $light-grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px 4px;
    @include mQ ($md) {
        width: $deviceWidthMed;
        height: $deviceHeightMed;
    }
    @include mQ ($xl){
        width: $deviceWidthMax;
        height: $deviceHeightMax; 
        border-radius: 20px;
        padding: 10px 20px;  
        border: 5px solid $med-grey;
    }
}
.min-min-screen{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    a.number{
        display: none;
        @include mQ ($xl) {
            display: flex;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s ease;
            text-decoration: none;
            justify-content: center;
            &:hover{
                opacity: 1;
            }
        }
    }
}


#landingText{
    padding-right: $deviceSpace;
    @include mQ ($md) {
        padding-right: $deviceSpaceMed;
    }
    @include mQ ($xl){
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-items: center;
    }
}
#beginBtn{
    margin-top: 0;
    @include mQ ($xl){
        margin-top: 50px;
    }
}


// shared content
.number{
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $dark-grey;
        color: white;
        font-weight: 700;
        width: 120px;
        height: 120px;
        font-size: 6em;
        @include mQ ($xl){
            width: 150px;
            height: 150px;
            font-size: 8em;
        }
    }
}

// chapter general styles
.chapter-text{
    background: $dark-grey;
    height: 100vh;
    width: 100vw;
    z-index: $front;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: left 0.5s ease;
    color: white;
    padding: 20px 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    @include mQ ($xl) {
        width: 65vw;
        padding: 100px;
        font-size: 1.5em;
    }
}
.chapter-intro{
    transition: all 0.5s ease;
    left: 0;
    margin-bottom: 50px;
    @include mQ ($md) {
        padding-right: 10%;
    }
    @include mQ ($lg) {
        padding-right: 30%;
    }
    @include mQ ($xl) {
        padding-right: 0;
    }
}
.chapter-image{
    transition: all 0.5s ease;
    left: 0;
}
.placeholder{
    background: $light-grey;
    width: 100%;
    height: 70vh;
    margin: 20px 0;
    @include mQ ($xl) {
        margin-left: 5%;
        width: 90%;
    }
}

.move-left{
    transition: all 0.5s ease;
    left: 65vw;
}
.chapter-buttons, .open-chapter-buttons{
    transition: opacity 1s ease;
    opacity: 1;
}
.open-chapter-buttons{
    button{
        margin-top: 10px;
    }
    .navigationBtns{
        position: absolute;
        top: 50vh;
    }
}
.hidden-buttons{
    transition: opacity 1s ease;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
}