@import 'variables';
@import 'mixins';
@import 'menus';
@import 'loading';

html{
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}

// font styles
h1{
    font-weight: 700;
}

// basic styles
.navy{
    background: $navy;
}
.red{
    background: $red;
}
.teal{
    background: $teal;
}
.yellow{
    background: $yellow;
}
.purple{
    background: $purple;
}

// resuable general styles
.no-vertical-scroll{
    max-height: 100vh;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.invis-fade{
    opacity: 1;
    transition: opacity 0.5s ease;
}
.offscreen {
    left: 100vw;
    transition: left 0.8s ease;
}
.white-outline{
    border: 2px solid white;
}

// buttons
.btn{
    border-radius: 50px;
}
.btn-light{
    background: $light-grey;
    color: white;
}
.btn-secondary{
    background: $purple;
    &:hover, &:focus, &:active, &:visited{
        background: $purple-hover!important;
        outline-color: $purple!important;
    }
}
.btn-warning{
    background: $yellow;
    color: white;
    &:hover, &:focus, &:active, &:visited{
        background: $yellow-hover!important;
        color: white;
        border-color: $yellow!important;
        outline-color: $yellow!important;
    }
}
.btn-lg{
    padding: .7rem 1.2rem;
    font-size: 1.45rem;
    line-height: 1.7;
}

section{
    min-height: 100vh;
}

// page fixtures
header{
    position: fixed;
    top: 0;
    padding: 10px!important;
    z-index: $layer2;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.5s ease;
    img{
        width: 40vw;
        @include mQ ($md) {
            width: 25vw;
        }
        @include mQ ($xl) {
            width: 15vw;
        }
    }
    #menus{
        button{
            margin-left: 10px;
        }
    }
}

#progress{
    position: fixed;
    bottom: 0;
    background: yellow;
}

// landing & closing section stlying
$deviceWidth: 32vw;
$deviceHeight: $deviceWidth/1.33;
$deviceSpace: 50vw - $deviceWidth;

$deviceWidthMax: 20vw;
$deviceHeightMax: $deviceWidthMax/1.33;


.min-screen{
    width: $deviceWidth;
    height: $deviceHeight;
    border: 3px solid $med-grey;
    display: inline-block;
    background: $light-grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px 4px;
    @include mQ ($xl){
        width: $deviceWidthMax;
        height: $deviceHeightMax; 
        border-radius: 20px;
        padding: 10px 20px;  
        border: 5px solid $med-grey;
    }
}
.min-min-screen{
    width: 100%;
    height: 100%;
    background: white;
}
#landingText{
    padding-right: $deviceSpace;
    @include mQ ($xl){
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-items: center;
    }
}
#beginBtn{
    margin-top: 10px;
    @include mQ ($xl){
        margin-top: 50px;
    }
}

